<!--새로 배열-->
<div>
  <i class="material-icons center" style="">expand_more</i>
  <!--가로 배열-->
  <div class="row-container">
    <div class="card-default2">
      <p>공지사항</p>
      <table>
        <thead>
          <tr>
            <td>#</td> <td>말머리</td> <td width="300px">제  목</td> <td> 글쓴이 </td><td>글쓴 시간</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="card-default1">
      <p>홍보</p>

    </div>
    <div class="card-default1">
      <p>로그인 </p>

      <mat-form-field>
        <input matInput required placeholder="로그인">
     </mat-form-field>

      <mat-form-field>
        <input matInput type="password" required placeholder="비밀번호">
     </mat-form-field>

        <button mat-button (click)="ngLogin()"> <i>save</i></button>
    </div>
  </div>
  <!--가로 배열-->
  <div class="row-container">
    <div class="card-default2">
      팀 게시판
      <p>

      </p>
    </div>
    <div class="card-default1">
      개발 팁 게시판
    </div>
    <div class="card-default1">
      웹 앱
    </div>
  </div>
  <div class="row-container">
    <div class="card-default1">
      가입 인사
    </div>
    <div class="card-default1">

    </div>
    <div class="card-default1">

    </div>
  </div>

  <div class="card-default1" style="height:50px;">
    footer
  </div>
</div>

