.active{
    color:#007bff;
    cursor: none;
}

.board-container{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.paginator > li {display:inline; list-style:none; margin:1px;
    cursor: pointer;}
ul.paginator {
    text-align: center;
}
